<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DATABASE</title>
  </head>
  <body>
    <h1>All ACCESS RECORDS</h1>
    <div >
      {% if access_records %}
        <table>
        <thead>
        <th> Site name</th>
        <th>Date accessed</th>
        </thead>
        {% for i in access_records %}
        <tr>
          <td>{{ i.name}}</td>
          <td>{{ i.date}}</td>
        </tr>
        {% endfor %}
        </table>
        {% else %}
        <p>No Access Records FOUND !!</p>
        {% endif %}

    </div>
  </body>
</html>
