<!DOCTYPE html>
{% extends 'app6/base.html'%}
{% block body_block %}
 <div class="jumbotron">
   <h1>Please login </h1>
   <form action="{% url 'app6:user_login'%}" method="post">   <!-- when submit is pressed the action is go to views.user_login()  -->
     {% csrf_token %}

   <label for="user_name" >Username</label>
   <input type="text" name="user_name" placeholder='Enter your name'>
   <label for="password">Password</label>
   <input type="password" name="password" placeholder='Enter your password'>

   <input type="submit" name="" value="Submit">
</form>
 </div>
{%endblock%}
