table{
width:500px;
height:400px;
border:40px solid red;
margin:auto;
}
th{
border:7px solid yellow;
}
#id1{
background-color:#011627;                
}
#id2{
background-color:gray;
}
#id3{
background-color:#2EC4B6;
}
#id4{
background-color:#E71D36;
}
#id5{
background-color:#FF9F1C;
}