{% extends 'base.html'%}
{% block content%}
<div class="jumbotron">
  <h1>Welcome To Flopkart </h1>
  <p>Happy Buying!!</p>
</div>
<label for="4">why ForeignKey do not fail</label>
<input id="4" type="checkbox" name="4">
<p></p>
<label for="1">Reset Password</label>
<input id="1" type="checkbox" name="1">
<p></p>
<label for="2">Payment , transaction</label>
<input id="2" type="checkbox" name="2">
<p></p>
<label for="3">Cost of product</label>
<input id="3" type="checkbox" name="3">
{%endblock%}
